In [1]:
cd ..

c:\Users\andre\Projects\sandbox

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Banco Crimes Violentos - Atualizado Julho 2021.csv', encoding='ansi', delimiter=';')

In [4]:
df_reg = df[df.Registros != 0] # registro de verdade

In [5]:
gpby_municipios = df_reg.groupby(df['Município'])

In [6]:
regs = gpby_municipios.sum()['Registros'] # sum todos registros de crimes

## 20 Cidades Mais Violentas 2018-2021

In [7]:
regs.sort_values(ascending=False).head(20) #

Município
BELO HORIZONTE          66709
CONTAGEM                23852
UBERLANDIA              10895
BETIM                   10817
RIBEIRAO DAS NEVES       6403
UBERABA                  5405
MONTES CLAROS            4354
JUIZ DE FORA             4182
DIVINOPOLIS              3591
SETE LAGOAS              3482
NOVA SERRANA             2963
GOVERNADOR VALADARES     2944
SANTA LUZIA              2878
VESPASIANO               1807
IPATINGA                 1789
SABARA                   1706
IBIRITE                  1655
PARACATU                 1385
UBA                      1335
PASSOS                   1269
Name: Registros, dtype: int64

In [8]:
regs_sorted = regs.sort_values(ascending=False)
regs_sorted = regs_sorted.to_frame()
regs_sorted['index'] = np.arange(1, len(regs_sorted)+1) # index of position

In [9]:
regs_sorted.head(20)

                      Registros  index
Município
BELO HORIZONTE            66709      1
CONTAGEM                  23852      2
UBERLANDIA                10895      3
BETIM                     10817      4
RIBEIRAO DAS NEVES         6403      5
UBERABA                    5405      6
MONTES CLAROS              4354      7
JUIZ DE FORA               4182      8
DIVINOPOLIS                3591      9
SETE LAGOAS                3482     10
NOVA SERRANA               2963     11
GOVERNADOR VALADARES       2944     12
SANTA LUZIA                2878     13
VESPASIANO                 1807     14
IPATINGA                   1789     15
SABARA                     1706     16
IBIRITE                    1655     17
PARACATU                   1385     18
UBA                        1335     19
PASSOS                     1269     20

In [10]:
regs_sorted.loc['SAO JOSE DA LAPA']

Registros    282
index         87
Name: SAO JOSE DA LAPA, dtype: int64

In [11]:
regs_sorted.loc['CAPIM BRANCO']

Registros     94
index        189
Name: CAPIM BRANCO, dtype: int64

In [12]:
regs_sorted.loc['MATOZINHOS']

Registros    507
index         56
Name: MATOZINHOS, dtype: int64

In [13]:
regs_sorted.loc['LAGOA SANTA']

Registros    611
index         49
Name: LAGOA SANTA, dtype: int64

In [14]:
regs_sorted.loc['PEDRO LEOPOLDO']

Registros    914
index         29
Name: PEDRO LEOPOLDO, dtype: int64

In [15]:
regs_sorted.loc['CONFINS']

Registros     92
index        195
Name: CONFINS, dtype: int64

In [16]:
regs_sorted.loc['ITABIRA']

Registros    995
index         22
Name: ITABIRA, dtype: int64

In [17]:
regs_sorted.loc['JOAO MONLEVADE']

Registros    725
index         42
Name: JOAO MONLEVADE, dtype: int64

In [18]:
len(regs_sorted)

852